
a,a:hover {
    text-decoration: none;
    color: black;
}

body {
    padding: 5%;
}

h1 {
    font-size: 80px;
    margin-bottom: 20px;
    font-weight: bold;
}

.seccion {
    margin: 10px;
    float: left;
}
